body {
  text-align: center;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
}

body button {
/*   font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px; */
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.right {
  max-width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 30px;
  text-align: left;
}
.tower-select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 135px;
}
.tower-select img {
  width: 50px;
}
.tower-select button {
  width: 55px;
}
.floor-sort {
  justify-self: center;
}
.weapon {
  display: flex;
  flex-direction: column;
  max-width: 50px;
}
.floor-sort > div {
  visibility: hidden;
}